@using Cruises.Common
@model Cruises.Domain.ViewAdapter.ProcessorPage
@{
    Layout = "~/Views/Shared/Masters/_Layout.cshtml";
}
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var requestData = $('#requestData').val();
            $.ajax({
                url: '@Url.Action(MVC.Booking.ProcessBooking())',
                type: "POST",
                data: requestData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",                
                success: function (data, textStatus, jqXHR) {
                    if (data == true) {
                        window.location.replace('@Url.Action(MVC.Booking.Confirmation(Model.Current.Cruise.SessionId, Model.Current.Cruise.Id, Model.Current.CabinGrade.CabinType.Id, Model.Current.CabinGrade.Id, Model.Current.CabinId.Value))');
                    } else {
                        window.location.replace('@Url.Action(MVC.Booking.BookingError())');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    window.location.replace('@MVC.Booking.BookingError()');
                }
            });
        });
    </script>    
}

@Html.HiddenFor(m => m.RequestData, new { id = "requestData" })

<section id="loading-panel">
    <p align="center">
    <img alt="loading..." src="/Images/loading-animation.gif"></p>
</section>


